@import "node_modules/bootstrap/scss/bootstrap";

.logo{
    height: 100px;
    width: 100px;
}

.showNav{
    display: block;
}

.hideNav{
    display: none;
}


.custom-btn-sucess{
    @extend .btn, .btn-success;
    margin: 5px;
}

.custom-btn-secondary{
    @extend .btn, .btn-secondary;
    margin: 5px;
}